.price {
    margin-top: 60px;
    &__block {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, minmax(46px, auto));
        grid-auto-rows: minmax(46px, auto);
        row-gap: 15px;
        justify-content: space-around;
    }
    &__item {
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) /repeat(2, auto);
        justify-content: space-between;
        align-content: space-between;
        position: relative;
        padding-left: 25px;
        &:before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: $main-color;
            top: 25%;
            transform: translateY(-50%);
        }
        &-count {
            justify-self: end;
        }
        &-descr {
            grid-column: 1/3;
            font-weight: 500;
        }
    }
}